html {
scroll-behavior: smooth
}


body {
	font-family:"Copperplate Light", "Copperplate Gothic Light", "serif";
	
}

/*-- navigation--*/

nav{
	position:sticky;
}

ul {
    list-style-type: none;
	top:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
	
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	position: sticky;
}

li a:hover {
    background-color: #66ccff;
}
/*-- /navagation--*/

section{
	margin:0;
	width: 100%;
	height: 900px;
}

#home{
	margin: 0;
	background-image: url(../img/laptop.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	
}
#page1{
	background-color:#66ccff; 
}
#page2{
	background-color: #99ddff;
}
#page3{
	background-color: #cceeff;
}



/*--home page--*/


.name_box{
	background: rgba(0, 0, 0, .5);	
	color: #fff;
	text-align: center;
	margin-top: 30%;
	margin-left: 75%;
	margin-right: 5%;
	padding-left:1%;
	padding-right:1%;
	padding-top:1%;
	padding-bottom:1%;

}
h1{
	color:#ooo;
	font-size: 45px;
	padding-top: 5px;
	padding-left: 5px;
	
}

/*--
.dropdown {

    display: inline;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
	
}


.grid-container {
  display: grid;
border: solid black;
  grid-template-columns: auto auto auto;
  padding: 10px;
	

}
.grid-item {
  padding: 20px;
  font-size: 30px;

}
--*/





/*--developer--*/
.developer{
	display: grid;
	border: solid black;
	grid-template-columns: auto auto auto;
	padding: 10px;
	flex direction: row;
	flex-wrap: wrap;
}
	
	
.flex-grid{
	display:grid;
	grid-row-gap: 15px;
	
	padding: 10px;	
}
	













.cards{
	padding-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content:left;
	flex-wrap:wrap;
	margin-right:30%;
}



.container {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
	background-color:#E9C99E;
    width: 300px;
	height: 300px;
	position: relative;
	padding: 4% 4% 4% 4%;
	margin: 2% 2% 2% 2%;
	border-radius: 10px;
	

}

img {
	display:block;
	margin-left:auto;
	margin-right: auto;
}

